@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Open Sans", sans-serif;
}

input,
textarea {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}

button {
  @apply text-2xl;
}

.display-diaries {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}
.edit-diaries {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}
