@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Open Sans", sans-serif;
}

input,
textarea {
  @apply font-sans text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}

.auth {
  @apply text-xl w-full;
}

h2 {
  @apply font-serif text-3xl;
}

button {
  @apply text-2xl font-sans w-32 bg-[#8dbbcc] text-white rounded;
}
.switch-button {
  @apply w-60 text-[#8dbbcc] text-xl bg-white underline;
}
.sign-out {
  @apply w-60 text-[#8dbbcc] text-xl bg-white underline;
}

.delete-button {
  @apply bg-red-300;
}

.display-diaries {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}
.edit-diaries {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}
