@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Open Sans", sans-serif;
}

input,
textarea {
  @apply font-sans text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}

.auth {
  @apply text-xl w-full;
}

h1 {
  @apply text-4xl font-serif md:font-serif md:text-5xl tracking-wide text-[#4a6378];
}

h2 {
  @apply font-serif my-3 text-xl md:text-3xl;
}

.display-diary {
  @apply text-xl font-sans whitespace-pre-wrap md:text-2xl;
}

button {
  @apply text-2xl font-sans w-32 bg-[#8dbbcc] text-white rounded;
}
.switch-button {
  @apply w-60 text-[#8dbbcc] text-xl bg-white underline;
}
.new-button {
  @apply text-3xl font-sans w-9 h-9 rounded-full bg-[#8dbbcc] text-white flex items-center justify-center leading-none pb-1 md:rounded;
}

.update-password {
  @apply w-60 text-xl text-white;
}
.forgot-password-button {
  @apply w-60 text-[#8dbbcc] text-sm bg-white underline;
}

.sign-out {
  @apply w-60 text-[#8dbbcc] text-sm bg-white underline text-end;
}

.go-to-signin {
  @apply w-60 text-[#8dbbcc] text-xl bg-white underline;
}

.delete-button {
  @apply bg-red-300;
}

.display-diaries,
.edit-diaries {
  @apply text-gray-500 text-2xl border border-[#8dbbcc] rounded p-2;
}
