@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Open Sans", sans-serif;
}
